main {
    width: 70%;
    margin: 3rem 15%;
    margin-top: 17rem;
    color: white;
    margin-bottom: 7rem;
}
div{
    text-align: center;
}
p:first-child{
    font-weight: bold;
}
p:last-of-type{
    color: white;
    font-size: 25px;
    animation: pulse 2s infinite;
  
}
a{
  font-size: 18px;
  text-decoration: none;
  color: white;
  
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

