main {
    width: 70%;
    margin: 3rem 15%;
    margin-top: 12rem;
    color: white;

}
div{
    text-align: center;
}
p:first-child{
    font-weight: bold;
}
p:last-child{
    color: white;
    font-size: 25px;
    animation: pulse 2s infinite;
  
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
